.text-muted {
  color: #818a91;
}

.comment-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.comment-content-block {
  padding-left: 45px;
}

.comment-options {
  display: inline-block;
}

.comment-form-input {
  padding: 7px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  min-height: 40px;
}

.comment-form-input::-webkit-input-placeholder {
  color: #818a91;
  font-size: 14px;
}

.error-msg {
  color: #FF0000;
  font-size: 12px;
}

.error-msg.comment-form-input {
  border: 1px solid #FF0000;
}

.underline {
  text-decoration: underline;
}

.hide {
  display: none;
}

.container {
  box-shadow: 0 6px 10px #777;
}

.comment-container {
  animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/*FONT SIZE*/
.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 15px;
}

/*LINE HEIGHT*/
.lh-1 {
  line-height: 1em;
}

/*POSITIONING*/
.float-l {
  float: left;
}

.relative {
  position: relative;
}

.b-02 {
  bottom: 0.2em;
}

.b-05 {
  bottom: 0.5em;
}

/*PADDING*/
.p-2 {
  padding: 2em;
}

.pr-05 {
  padding-right: 0.5em;
}

.pb-1 {
  padding-bottom: 1em;
}

/*MARGIN*/
.mt-2 {
  margin-top: 2em;
}
.mt-05 {
  margin-top: 0.5em;
}

.mb-08 {
  margin-bottom: 0.8em;
}
